@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
    padding:0px;
    box-sizing: border-box;
    margin:0px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    
}
html {
  scroll-behavior: smooth;
}
nav{
   
     width:100%;
     height:70px;
     z-index:10;
     box-shadow:2px 4px 6px rgba(0, 0, 0, 0.5);
}
nav h2{
    font-size: xx-large;
    margin-left:10px;
    color:#9D2143;
    font-family:'Inter';
   padding:1rem;
}
nav h2  .in{
    color:rgba(0, 0, 0, 0.856);

}
.body{
    height:100vh;
    display:grid;
    place-items:center;
    
}
.details{
    /* height:50%; */
    border:0.5px solid #9D2143;
    width:22%;
     display: flex;
  align-items: center;
  flex-direction: column;
  border-radius:3px 3px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}
.each {
  padding:1rem;
}

.each label{
display: flex;
color:#9D2143;
text-transform: capitalize;
}

.each input{
    width:220px;
    height:40px;
    border-radius:10px 10px 10px 10px;
    outline:none;
    /* border:none; */
 
  border:0.5px solid #9D2143;
}

.zack{
    display: grid;
    place-items:center;
    padding:1rem 0;
}
.zack button{
    width:200px;
    height:40px;
    border-radius:3px 3px;
    outline:none;
    border:none;
    background-color: #9D2143;
    color:white;
    transition:all 0.2s;
}
.zack button:hover{
    background-color:white;
    color:#9D2143;
}
#err{
    padding:1rem;
    color:red;
}

.view{
 display:flex;
 justify-content: center;
 align-items:center;
} 
.main{
height:100vh;
padding:20px;

}
.topic h2{
    color:#9D2143;
    padding:1rem;
}

table{
margin: auto;
width:50%;
border-radius:4px 4px 4px 4px;
border:0.5px solid #9D2143;
}
table td {
   padding: 0.5rem;
border:0.5px solid #9D2143;
}


table th{
    background-color: #9D2143;
    color:white;
    text-align: center;
   padding: 0.5rem;
  
}
td {
    text-align: center;
  
}
td a{
  color: #9D2143;
    text-decoration: none;
}
.hold{
    width:50%;
    border:1px solid #9D2143;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:3%;
    border-radius:4px 4px 4px 4px;
}
.each h3{
    color: #9D2143;
    font-size: x-large;
}
.back{
  position: absolute;
left:1.9%;
border:none;
outline:none;
width:70px;
height:70px;
font-size:50px;
border-radius:50px;
background-color: #9D2143;
color:white;
display: grid;
place-items:center;
transition:all 0.5s;

}
.back:hover{
    color:#9D2143;
    background:white;
}

.box{
   
     padding:20px;
    width:60%;
    border:1px solid white;
     margin:auto;
     border-radius:3px 3px 3px 3px ;
     box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.596);
}
.main h3{
    color: #141314ea;
    font-weight: 500;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: center;
    padding:15px;
}

.box h4{
    padding:1rem 0;
}

.box aside{
    padding:1rem 0;
}
.boxOne{
     padding:20px;
    width:60%;
    border:1px solid white;
     margin:auto;
     border-radius:3px 3px 3px 3px ;
     box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.596);
     margin-top:25px;
     /* opacity:0.7; */
}
.boxOne h4{
   /* padding:1rem; */
}
.cool{
    width: 100%;
}
.inbox{
    padding:0.5rem 0;
}
.product{
padding:0.5rem 0;
}

.btn{
        position: relative;
   width: 46px;
    height: 25px;
    border-radius:10px 10px;
    outline: none;
    border:1px solid #9D2143;
    background:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: large;
    color: #9D2143;
    justify-content:space-between;
}

.switch{
    position: absolute;
    height:100%;
    border-radius:50px;
    box-shadow:2px 4px 6px rgba(0, 0, 0, 0.5);
    width:50%;
    left:0;
    background-color:#9D2143;
    border-radius:10px 10px;
    transition:ease-in-out 0.5s;
}

.slide {
    left: 50%;
    background-color:#9D2143;
   
}
.active{
    background-color: rgba(0, 0, 0, 0.5);
}
.online{
    height:50px;
    border-radius: 5px 5px;
    width:60%;
    padding:10px;
}
.quantity{
    padding-top:10px;
    display:none;
}
.quantity input {
        height:50px;
    border-radius: 5px 5px;
    width:60%;
    padding:10px;
    display: inline;
}

.quantity button{
    height:50px;
    border-radius:5px 5px;
    background: #9D2143;
    color: rgba(236, 231, 231, 0.904);
    padding:10px;
    border: none;
    outline:none;
    transition:all 0.2s;
}
.quantity button:hover{
    background-color: white;
    border: 2px solid #9D2143;
    color: #9D2143;
}
.boxTwo{
     padding:20px;
    width:60%;
    border:1px solid white;
     margin:auto;
     border-radius:3px 3px 3px 3px ;
     box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.596);
     margin-top:25px;
     opacity:0.7;
}
.on{
     height:50px;
    border-radius: 5px 5px;
    width:60%;
    padding:10px;
}

.boxTwo button{
      height:50px;
    border-radius: 5px 5px;
    width:60%;
    padding:10px;
    outline:none;
     border:none;
     background-color: #9d214262;
     color:white;
}
.err{
    color:red;
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem 0;
    width:50%;
    margin:auto;
    border-radius:4px 4px 4px 4px;
    text-align:center;

}

.overlay{
 position: fixed;
background-color: rgba(0, 0, 0, 0.596);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  visibility: hidden;
   z-index: -999;
}
.hide-overlay {
 z-index:30;
visibility: visible;
}
.overlay2{
 position: fixed;
background-color: rgba(0, 0, 0, 0.596);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  visibility: hidden;
   z-index: -999
}
.hide-overlay2 {
 z-index:30;
visibility: visible;
}
.within{
    border-radius:3px 3px 3px 3px;
    height:25%;
    padding:1rem 0;
    width:40%;
    background:white;
      display: grid;
  place-items: center;
}
.within h1{
    padding:1rem 0;
}
.within aside{
    padding:1rem 0;
}
.within button{
    width:150px;
    height:35px;
    border:none;
    outline:none;
    background-color: #9D2143;
    color: white;
    border-radius:3px 3px;
    transition: all 0.2s;
}

.within button:hover{
    background-color: white;
    color: #9D2143;
}

.snow {
  /* background-color:white; */
}
.snow img{
    padding:1rem 0;
}
.snow h2{
    padding:1rem 0;
    color:white;
}

.loader {
  border: 16px solid #9D2143;
  border-radius: 50%;
  border-top: 16px solid white;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}